In [1]:
import pandas as pd

In [27]:
df = pd.read_csv("../../csv/2018_03_01.csv")

In [29]:
df[df["train_id"] == "A20"]

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type
2112,A20,2018-03-01,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-01 12:09:13,departed,CRESCENT,Amtrak
2113,A20,2018-03-01,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-01 14:15:15,departed,CRESCENT,Amtrak
2114,A20,2018-03-01,NaN,Trenton,148,Newark Penn Station,107,NaN,2018-03-01 14:59:15,departed,CRESCENT,Amtrak
2115,A20,2018-03-01,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-01 15:03:17,departed,CRESCENT,Amtrak

In [3]:
df_new = pd.read_csv("../../csv/2018_03_02_with_update.csv")

In [4]:
df_new.head()

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type
0,5127,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 13:47:00,2018-03-02 13:47:14,departed,Raritan Valley,NJ Transit
1,5127,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 13:56:00,2018-03-02 13:57:18,departed,Raritan Valley,NJ Transit
2,5127,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 14:06:00,2018-03-02 14:05:19,departed,Raritan Valley,NJ Transit
3,5127,2018-03-02,4.0,Newark Penn Station,107,Union,38105,2018-03-02 14:15:00,2018-03-02 14:24:11,departed,Raritan Valley,NJ Transit
4,5127,2018-03-02,5.0,Union,38105,Roselle Park,31,2018-03-02 14:18:00,2018-03-02 14:27:18,departed,Raritan Valley,NJ Transit

In [17]:
df_newest = pd.read_csv("../../csv/2018_03_02.csv")

In [18]:
df_newest.head()

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type
0,5127,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 13:47:00,2018-03-02 13:47:14,departed,Raritan Valley,NJ Transit
1,5127,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 13:56:00,2018-03-02 13:57:18,departed,Raritan Valley,NJ Transit
2,5127,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 14:06:00,2018-03-02 14:05:19,departed,Raritan Valley,NJ Transit
3,5127,2018-03-02,4.0,Newark Penn Station,107,Union,38105,2018-03-02 14:15:00,2018-03-02 14:24:11,departed,Raritan Valley,NJ Transit
4,5127,2018-03-02,5.0,Union,38105,Roselle Park,31,2018-03-02 14:18:00,2018-03-02 14:27:18,departed,Raritan Valley,NJ Transit

In [5]:
df_old = pd.read_csv("../../csv/2018_03_02_check_only.csv")

In [6]:
df_old.head()

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type
0,5127,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 13:47:00,2018-03-02 13:47:14,departed,Raritan Valley,NJ Transit
1,5127,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 13:56:00,2018-03-02 13:57:18,departed,Raritan Valley,NJ Transit
2,5127,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 14:06:00,2018-03-02 14:05:19,departed,Raritan Valley,NJ Transit
3,5127,2018-03-02,4.0,Newark Penn Station,107,Union,38105,2018-03-02 14:15:00,2018-03-02 14:24:11,departed,Raritan Valley,NJ Transit
4,5127,2018-03-02,5.0,Union,38105,Roselle Park,31,2018-03-02 14:18:00,2018-03-02 14:27:18,departed,Raritan Valley,NJ Transit

In [7]:
merged = df_new.merge(df_old, indicator=True, how='outer')

In [9]:
merged["_merge"].unique()

[both, left_only, right_only]
Categories (3, object): [both, left_only, right_only]

In [10]:
new_rows = merged[merged["_merge"] == "left_only"].copy()

In [11]:
old_rows = merged[merged["_merge"] == "right_only"].copy()

In [12]:
new_rows

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type,_merge
182,A2172,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 17:02:19,departed,ACELA EXPRESS,Amtrak,left_only
183,A2172,2018-03-02,NaN,Philadelphia,1,Metropark,83,NaN,2018-03-02 17:31:20,departed,ACELA EXPRESS,Amtrak,left_only
184,A2172,2018-03-02,NaN,Metropark,83,Newark Penn Station,107,NaN,2018-03-02 18:16:20,departed,ACELA EXPRESS,Amtrak,left_only
185,A2172,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 18:31:14,departed,ACELA EXPRESS,Amtrak,left_only
186,A2175,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 20:35:13,departed,ACELA EXPRESS,Amtrak,left_only
187,A2175,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 21:06:10,departed,ACELA EXPRESS,Amtrak,left_only
188,A2175,2018-03-02,NaN,Newark Penn Station,107,Trenton,148,NaN,2018-03-02 21:21:14,departed,ACELA EXPRESS,Amtrak,left_only
189,A2175,2018-03-02,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-02 21:52:10,departed,ACELA EXPRESS,Amtrak,left_only
239,3279,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 19:05:00,2018-03-02 19:26:18,departed,No Jersey Coast,NJ Transit,left_only
240,3279,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 19:15:00,2018-03-02 19:36:18,departed,No Jersey Coast,NJ Transit,left_only
257,0053,2018-03-02,4.0,Suffern,144,Sloatsburg,137,2018-03-02 17:36:00,2018-03-02 17:55:31,departed,Bergen Co. Line,NJ Transit,left_only
314,A138,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 19:30:19,departed,REGIONAL,Amtrak,left_only
315,A138,2018-03-02,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-02 20:01:15,departed,REGIONAL,Amtrak,left_only
316,A138,2018-03-02,NaN,Trenton,148,Princeton Junction,125,NaN,2018-03-02 20:30:16,departed,REGIONAL,Amtrak,left_only
317,A138,2018-03-02,NaN,Princeton Junction,125,Metropark,83,NaN,2018-03-02 20:39:12,departed,REGIONAL,Amtrak,left_only
318,A138,2018-03-02,NaN,Metropark,83,Newark Airport,37953,NaN,2018-03-02 20:57:14,departed,REGIONAL,Amtrak,left_only
319,A138,2018-03-02,NaN,Newark Airport,37953,Newark Penn Station,107,NaN,2018-03-02 21:08:14,departed,REGIONAL,Amtrak,left_only
320,A138,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 21:13:12,departed,REGIONAL,Amtrak,left_only
321,A2126,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 20:00:07,departed,ACELA EXPRESS,Amtrak,left_only
322,A2126,2018-03-02,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-02 20:31:04,departed,ACELA EXPRESS,Amtrak,left_only
323,A2126,2018-03-02,NaN,Trenton,148,Metropark,83,NaN,2018-03-02 21:01:14,departed,ACELA EXPRESS,Amtrak,left_only
324,A2126,2018-03-02,NaN,Metropark,83,Newark Penn Station,107,NaN,2018-03-02 21:18:10,departed,ACELA EXPRESS,Amtrak,left_only
325,A2126,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 21:34:06,departed,ACELA EXPRESS,Amtrak,left_only
398,A2119,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 17:30:19,departed,ACELA EXPRESS,Amtrak,left_only
399,A2119,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 18:11:13,departed,ACELA EXPRESS,Amtrak,left_only
400,A2119,2018-03-02,NaN,Newark Penn Station,107,Philadelphia,1,NaN,2018-03-02 18:16:15,departed,ACELA EXPRESS,Amtrak,left_only
431,0439,2018-03-02,1.0,Hoboken,63,Hoboken,63,2018-03-02 18:41:00,2018-03-02 18:51:26,departed,Gladstone Branch,NJ Transit,left_only
502,6359,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 18:50:00,2018-03-02 19:05:31,departed,Morristown Line,NJ Transit,left_only
503,6359,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 18:59:00,2018-03-02 19:09:23,departed,Morristown Line,NJ Transit,left_only
504,6359,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Broad Street,106,2018-03-02 19:09:00,2018-03-02 19:19:20,departed,Morristown Line,NJ Transit,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9497,A172,2018-03-02,NaN,Metropark,83,Newark Airport,37953,NaN,2018-03-02 11:42:13,departed,REGIONAL,Amtrak,left_only
9498,A172,2018-03-02,NaN,Newark Airport,37953,Newark Penn Station,107,NaN,2018-03-02 11:48:08,departed,REGIONAL,Amtrak,left_only
9520,A2154,2018-03-02,NaN,Philadelphia,1,Newark Penn Station,107,NaN,2018-03-02 12:16:09,departed,ACELA EXPRESS,Amtrak,left_only
9521,A2154,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 12:49:01,departed,ACELA EXPRESS,Amtrak,left_only
9546,A175,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 19:10:20,departed,REGIONAL,Amtrak,left_only
9547,A175,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 19:41:19,departed,REGIONAL,Amtrak,left_only
9548,A175,2018-03-02,NaN,Newark Penn Station,107,Newark Airport,37953,NaN,2018-03-02 19:59:18,departed,REGIONAL,Amtrak,left_only
9549,A175,2018-03-02,NaN,Newark Airport,37953,Metropark,83,NaN,2018-03-02 20:04:19,departed,REGIONAL,Amtrak,left_only
9550,A175,2018-03-02,NaN,Metropark,83,Trenton,148,NaN,2018-03-02 20:17:15,departed,REGIONAL,Amtrak,left_only
9551,A175,2018-03-02,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-02 20:39:15,departed,REGIONAL,Amtrak,left_only
9585,0813,2018-03-02,1.0,Hoboken,63,Hoboken,63,2018-03-02 18:34:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9586,0813,2018-03-02,2.0,Hoboken,63,Newark Broad Street,106,2018-03-02 18:50:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9587,0813,2018-03-02,3.0,Newark Broad Street,106,East Orange,37,2018-03-02 18:55:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9588,0813,2018-03-02,4.0,East Orange,37,Brick Church,23,2018-03-02 18:58:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9589,0813,2018-03-02,5.0,Brick Church,23,Orange,112,2018-03-02 19:01:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9590,0813,2018-03-02,6.0,Orange,112,Highland Avenue,61,2018-03-02 19:03:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9591,0813,2018-03-02,7.0,Highland Avenue,61,Mountain Station,97,2018-03-02 19:05:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9592,0813,2018-03-02,8.0,Mountain Station,97,South Orange,140,2018-03-02 19:08:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9593,0813,2018-03-02,9.0,South Orange,140,Maplewood,81,2018-03-02 19:11:00,2018-03-02 19:14:06,departed,Morristown Line,NJ Transit,left_only
9607,A188,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 20:39:15,departed,REGIONAL,Amtrak,left_only
9608,A188,2018-03-02,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-02 21:10:11,departed,REGIONAL,Amtrak,left_only
9609,A188,2018-03-02,NaN,Trenton,148,Metropark,83,NaN,2018-03-02 21:38:11,departed,REGIONAL,Amtrak,left_only
9610,A188,2018-03-02,NaN,Metropark,83,Newark Penn Station,107,NaN,2018-03-02 22:00:20,departed,REGIONAL,Amtrak,left_only
9611,A188,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 22:15:17,departed,REGIONAL,Amtrak,left_only
9675,A2165,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 15:31:12,departed,ACELA EXPRESS,Amtrak,left_only
9676,A2165,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 16:15:11,departed,ACELA EXPRESS,Amtrak,left_only
9677,A2165,2018-03-02,NaN,Newark Penn Station,107,Philadelphia,1,NaN,2018-03-02 16:16:07,departed,ACELA EXPRESS,Amtrak,left_only
9803,0427,2018-03-02,4.0,Brick Church,23,Orange,112,2018-03-02 16:50:00,2018-03-02 17:58:01,departed,Gladstone Branch,NJ Transit,left_only
9834,3269,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 17:33:00,2018-03-02 17:51:33,departed,No Jersey Coast,NJ Transit,left_only
9845,3867,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 17:21:00,2018-03-02 17:32:20,departed,Northeast Corrdr,NJ Transit,left_only

In [15]:
old_rows[(old_rows["status"] == "cancelled") & (old_rows["type"] == "NJ Transit")]

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type,_merge
10226,6359,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 18:59:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10227,6359,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Broad Street,106,2018-03-02 19:09:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10228,6359,2018-03-02,4.0,Newark Broad Street,106,Brick Church,23,2018-03-02 19:16:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10229,6359,2018-03-02,5.0,Brick Church,23,Orange,112,2018-03-02 19:19:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10230,6359,2018-03-02,6.0,Orange,112,South Orange,140,2018-03-02 19:24:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10231,6359,2018-03-02,7.0,South Orange,140,Maplewood,81,2018-03-02 19:28:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10232,6359,2018-03-02,8.0,Maplewood,81,Millburn,87,2018-03-02 19:33:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10233,6359,2018-03-02,9.0,Millburn,87,Summit,145,2018-03-02 19:41:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,right_only
10267,0267,2018-03-02,4.0,Watsessing Avenue,154,Bloomfield,19,2018-03-02 17:49:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10268,0267,2018-03-02,5.0,Bloomfield,19,Glen Ridge,50,2018-03-02 17:52:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10269,0267,2018-03-02,6.0,Glen Ridge,50,Bay Street,14,2018-03-02 17:55:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10270,0267,2018-03-02,7.0,Bay Street,14,Walnut Street,152,2018-03-02 17:58:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10271,0267,2018-03-02,8.0,Walnut Street,152,Watchung Avenue,153,2018-03-02 18:01:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10272,0267,2018-03-02,9.0,Watchung Avenue,153,Upper Montclair,150,2018-03-02 18:03:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10273,0267,2018-03-02,10.0,Upper Montclair,150,Mountain Avenue,95,2018-03-02 18:05:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10274,0267,2018-03-02,11.0,Mountain Avenue,95,Montclair Heights,89,2018-03-02 18:08:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10275,0267,2018-03-02,12.0,Montclair Heights,89,Montclair State U,38081,2018-03-02 18:11:00,2018-03-02 17:48:26,cancelled,Montclair-Boonton,NJ Transit,right_only
10283,6671,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 21:01:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10284,6671,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Broad Street,106,2018-03-02 21:10:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10285,6671,2018-03-02,4.0,Newark Broad Street,106,Brick Church,23,2018-03-02 21:17:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10286,6671,2018-03-02,5.0,Brick Church,23,Orange,112,2018-03-02 21:20:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10287,6671,2018-03-02,6.0,Orange,112,South Orange,140,2018-03-02 21:25:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10288,6671,2018-03-02,7.0,South Orange,140,Maplewood,81,2018-03-02 21:28:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10289,6671,2018-03-02,8.0,Maplewood,81,Millburn,87,2018-03-02 21:32:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10290,6671,2018-03-02,9.0,Millburn,87,Short Hills,136,2018-03-02 21:36:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10291,6671,2018-03-02,10.0,Short Hills,136,Summit,145,2018-03-02 21:42:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10292,6671,2018-03-02,11.0,Summit,145,Chatham,27,2018-03-02 21:48:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10293,6671,2018-03-02,12.0,Chatham,27,Madison,77,2018-03-02 21:52:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10294,6671,2018-03-02,13.0,Madison,77,Convent Station,30,2018-03-02 21:57:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
10295,6671,2018-03-02,14.0,Convent Station,30,Morristown,92,2018-03-02 22:01:00,2018-03-02 21:01:18,cancelled,Morristown Line,NJ Transit,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10719,1641,2018-03-02,10.0,Oradell,111,Emerson,42,2018-03-02 20:12:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10720,1641,2018-03-02,11.0,Emerson,42,Westwood,156,2018-03-02 20:15:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10721,1641,2018-03-02,12.0,Westwood,156,Hillsdale,62,2018-03-02 20:18:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10722,1641,2018-03-02,13.0,Hillsdale,62,Woodcliff Lake,159,2018-03-02 20:21:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10723,1641,2018-03-02,14.0,Woodcliff Lake,159,Park Ridge,114,2018-03-02 20:24:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10724,1641,2018-03-02,15.0,Park Ridge,114,Montvale,90,2018-03-02 20:26:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10725,1641,2018-03-02,16.0,Montvale,90,Pearl River,118,2018-03-02 20:29:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10726,1641,2018-03-02,17.0,Pearl River,118,Nanuet,100,2018-03-02 20:34:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10727,1641,2018-03-02,18.0,Nanuet,100,Spring Valley,142,2018-03-02 20:39:00,2018-03-02 19:36:18,cancelled,Pascack Valley,NJ Transit,right_only
10730,6295,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 21:42:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10731,6295,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Broad Street,106,2018-03-02 21:52:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10732,6295,2018-03-02,4.0,Newark Broad Street,106,Watsessing Avenue,154,2018-03-02 21:58:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10733,6295,2018-03-02,5.0,Watsessing Avenue,154,Bloomfield,19,2018-03-02 22:00:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10734,6295,2018-03-02,6.0,Bloomfield,19,Glen Ridge,50,2018-03-02 22:03:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10735,6295,2018-03-02,7.0,Glen Ridge,50,Bay Street,14,2018-03-02 22:06:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10736,6295,2018-03-02,8.0,Bay Street,14,Walnut Street,152,2018-03-02 22:09:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10737,6295,2018-03-02,9.0,Walnut Street,152,Watchung Avenue,153,2018-03-02 22:12:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10738,6295,2018-03-02,10.0,Watchung Avenue,153,Upper Montclair,150,2018-03-02 22:15:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10739,6295,2018-03-02,11.0,Upper Montclair,150,Mountain Avenue,95,2018-03-02 22:17:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10740,6295,2018-03-02,12.0,Mountain Avenue,95,Montclair Heights,89,2018-03-02 22:20:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10741,6295,2018-03-02,13.0,Montclair Heights,89,Montclair State U,38081,2018-03-02 22:23:00,2018-03-02 21:35:15,cancelled,Montclair-Boonton,NJ Transit,right_only
10756,3725,2018-03-02,7.0,Metuchen,84,Edison,38,2018-03-02 17:59:00,2018-03-02 17:54:26,cancelled,Northeast Corrdr,NJ Transit,right_only
10757,3725,2018-03-02,8.0,Edison,38,New Brunswick,103,2018-03-02 18:04:00,2018-03-02 17:54:26,cancelled,Northeast Corrdr,NJ Transit,right_only
10758,3725,2018-03-02,9.0,New Brunswick,103,Jersey Avenue,32906,2018-03-02 18:13:00,2018-03-02 17:54:26,cancelled,Northeast Corrdr,NJ Transit,right_only
10761,3984,2018-03-02,1.0,Newark Penn Station,107,Newark Penn Station,107,2018-03-02 22:08:00,2018-03-02 22:06:15,cancelled,Northeast Corrdr,NJ Transit,right_only
10762,3984,2018-03-02,2.0,Newark Penn Station,107,Secaucus Upper Lvl,38187,2018-03-02 22:15:00,2018-03-02 22:06:15,cancelled,Northeast Corrdr,NJ Transit,right_only
10763,3984,2018-03-02,3.0,Secaucus Upper Lvl,38187,New York Penn Station,105,2018-03-02 22:29:00,2018-03-02 22:06:15,cancelled,Northeast Corrdr,NJ Transit,right_only
10798,3947,2018-03-02,4.0,Newark Penn Station,107,Princeton Junction,125,2018-03-02 17:25:00,2018-03-02 16:53:21,cancelled,Northeast Corrdr,NJ Transit,right_only
10799,3947,2018-03-02,5.0,Princeton Junction,125,Hamilton,32905,2018-03-02 17:33:00,2018-03-02 16:53:21,cancelled,Northeast Corrdr,NJ Transit,right_only
10800,3947,2018-03-02,6.0,Hamilton,32905,Trenton,148,2018-03-02 17:45:00,2018-03-02 16:53:21,cancelled,Northeast Corrdr,NJ Transit,right_only

In [16]:
new_rows[new_rows["train_id"] == "6359"]

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type,_merge
502,6359,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 18:50:00,2018-03-02 19:05:31,departed,Morristown Line,NJ Transit,left_only
503,6359,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 18:59:00,2018-03-02 19:09:23,departed,Morristown Line,NJ Transit,left_only
504,6359,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Broad Street,106,2018-03-02 19:09:00,2018-03-02 19:19:20,departed,Morristown Line,NJ Transit,left_only
505,6359,2018-03-02,4.0,Newark Broad Street,106,Brick Church,23,2018-03-02 19:16:00,2018-03-02 19:19:20,departed,Morristown Line,NJ Transit,left_only
506,6359,2018-03-02,5.0,Brick Church,23,Orange,112,2018-03-02 19:19:00,2018-03-02 19:19:20,departed,Morristown Line,NJ Transit,left_only
507,6359,2018-03-02,6.0,Orange,112,South Orange,140,2018-03-02 19:24:00,2018-03-02 19:25:23,departed,Morristown Line,NJ Transit,left_only
508,6359,2018-03-02,7.0,South Orange,140,Maplewood,81,2018-03-02 19:28:00,2018-03-02 19:29:23,departed,Morristown Line,NJ Transit,left_only
509,6359,2018-03-02,8.0,Maplewood,81,Millburn,87,2018-03-02 19:33:00,2018-03-02 19:53:13,departed,Morristown Line,NJ Transit,left_only
510,6359,2018-03-02,9.0,Millburn,87,Summit,145,2018-03-02 19:41:00,2018-03-02 20:00:00,departed,Morristown Line,NJ Transit,left_only

In [19]:
df_newest[df_newest["train_id"] == "6359"]

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type
502,6359,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 18:50:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit
503,6359,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 18:59:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit
504,6359,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Broad Street,106,2018-03-02 19:09:00,2018-03-02 19:10:19,departed,Morristown Line,NJ Transit
505,6359,2018-03-02,4.0,Newark Broad Street,106,Brick Church,23,2018-03-02 19:16:00,2018-03-02 19:16:23,departed,Morristown Line,NJ Transit
506,6359,2018-03-02,5.0,Brick Church,23,Orange,112,2018-03-02 19:19:00,2018-03-02 19:19:20,departed,Morristown Line,NJ Transit
507,6359,2018-03-02,6.0,Orange,112,South Orange,140,2018-03-02 19:24:00,2018-03-02 19:25:23,departed,Morristown Line,NJ Transit
508,6359,2018-03-02,7.0,South Orange,140,Maplewood,81,2018-03-02 19:28:00,2018-03-02 19:29:23,departed,Morristown Line,NJ Transit
509,6359,2018-03-02,8.0,Maplewood,81,Millburn,87,2018-03-02 19:33:00,2018-03-02 19:53:13,departed,Morristown Line,NJ Transit
510,6359,2018-03-02,9.0,Millburn,87,Summit,145,2018-03-02 19:41:00,2018-03-02 20:00:00,estimated,Morristown Line,NJ Transit

In [20]:
merged_new = df_newest.merge(df_new, indicator=True, how='outer')

In [21]:
newest_rows = merged_new[merged_new["_merge"] == "left_only"].copy()

In [24]:
newest_rows[(newest_rows["status"] != "estimated")]

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type,_merge
182,A2172,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 17:02:19,cancelled,ACELA EXPRESS,Amtrak,left_only
183,A2172,2018-03-02,NaN,Philadelphia,1,Metropark,83,NaN,2018-03-02 17:02:19,cancelled,ACELA EXPRESS,Amtrak,left_only
184,A2172,2018-03-02,NaN,Metropark,83,Newark Penn Station,107,NaN,2018-03-02 17:02:19,cancelled,ACELA EXPRESS,Amtrak,left_only
185,A2172,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 17:02:19,cancelled,ACELA EXPRESS,Amtrak,left_only
186,A2175,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 20:35:13,cancelled,ACELA EXPRESS,Amtrak,left_only
187,A2175,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 20:35:13,cancelled,ACELA EXPRESS,Amtrak,left_only
188,A2175,2018-03-02,NaN,Newark Penn Station,107,Trenton,148,NaN,2018-03-02 20:35:13,cancelled,ACELA EXPRESS,Amtrak,left_only
189,A2175,2018-03-02,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-02 20:35:13,cancelled,ACELA EXPRESS,Amtrak,left_only
314,A138,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 19:30:19,cancelled,REGIONAL,Amtrak,left_only
315,A138,2018-03-02,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-02 19:30:19,cancelled,REGIONAL,Amtrak,left_only
316,A138,2018-03-02,NaN,Trenton,148,Princeton Junction,125,NaN,2018-03-02 19:30:19,cancelled,REGIONAL,Amtrak,left_only
317,A138,2018-03-02,NaN,Princeton Junction,125,Metropark,83,NaN,2018-03-02 19:30:19,cancelled,REGIONAL,Amtrak,left_only
318,A138,2018-03-02,NaN,Metropark,83,Newark Airport,37953,NaN,2018-03-02 19:30:19,cancelled,REGIONAL,Amtrak,left_only
319,A138,2018-03-02,NaN,Newark Airport,37953,Newark Penn Station,107,NaN,2018-03-02 19:30:19,cancelled,REGIONAL,Amtrak,left_only
320,A138,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 19:30:19,cancelled,REGIONAL,Amtrak,left_only
321,A2126,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 20:00:07,cancelled,ACELA EXPRESS,Amtrak,left_only
322,A2126,2018-03-02,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-02 20:00:07,cancelled,ACELA EXPRESS,Amtrak,left_only
323,A2126,2018-03-02,NaN,Trenton,148,Metropark,83,NaN,2018-03-02 20:00:07,cancelled,ACELA EXPRESS,Amtrak,left_only
324,A2126,2018-03-02,NaN,Metropark,83,Newark Penn Station,107,NaN,2018-03-02 20:00:07,cancelled,ACELA EXPRESS,Amtrak,left_only
325,A2126,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 20:00:07,cancelled,ACELA EXPRESS,Amtrak,left_only
398,A2119,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 17:30:19,cancelled,ACELA EXPRESS,Amtrak,left_only
399,A2119,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 18:11:13,cancelled,ACELA EXPRESS,Amtrak,left_only
400,A2119,2018-03-02,NaN,Newark Penn Station,107,Philadelphia,1,NaN,2018-03-02 18:11:13,cancelled,ACELA EXPRESS,Amtrak,left_only
502,6359,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 18:50:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,left_only
503,6359,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 18:59:00,2018-03-02 19:05:31,cancelled,Morristown Line,NJ Transit,left_only
504,6359,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Broad Street,106,2018-03-02 19:09:00,2018-03-02 19:10:19,departed,Morristown Line,NJ Transit,left_only
505,6359,2018-03-02,4.0,Newark Broad Street,106,Brick Church,23,2018-03-02 19:16:00,2018-03-02 19:16:23,departed,Morristown Line,NJ Transit,left_only
537,A2128,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 21:02:06,cancelled,ACELA EXPRESS,Amtrak,left_only
538,A2128,2018-03-02,NaN,Philadelphia,1,Metropark,83,NaN,2018-03-02 21:02:06,cancelled,ACELA EXPRESS,Amtrak,left_only
539,A2128,2018-03-02,NaN,Metropark,83,Newark Penn Station,107,NaN,2018-03-02 21:02:06,cancelled,ACELA EXPRESS,Amtrak,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,A2163,2018-03-02,NaN,Newark Penn Station,107,Philadelphia,1,NaN,2018-03-02 15:03:04,cancelled,ACELA EXPRESS,Amtrak,left_only
8911,A187,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 20:40:19,cancelled,REGIONAL,Amtrak,left_only
8912,A187,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 20:40:19,cancelled,REGIONAL,Amtrak,left_only
8913,A187,2018-03-02,NaN,Newark Penn Station,107,Metropark,83,NaN,2018-03-02 20:40:19,cancelled,REGIONAL,Amtrak,left_only
8914,A187,2018-03-02,NaN,Metropark,83,Trenton,148,NaN,2018-03-02 20:40:19,cancelled,REGIONAL,Amtrak,left_only
8915,A187,2018-03-02,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-02 20:40:19,cancelled,REGIONAL,Amtrak,left_only
8984,A173,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 15:48:07,cancelled,REGIONAL,Amtrak,left_only
8985,A173,2018-03-02,NaN,Newark Penn Station,107,Newark Airport,37953,NaN,2018-03-02 15:48:07,cancelled,REGIONAL,Amtrak,left_only
9286,A129,2018-03-02,NaN,Metropark,83,Trenton,148,NaN,2018-03-02 16:59:31,cancelled,AMTRAK,Amtrak,left_only
9287,A129,2018-03-02,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-02 16:59:31,cancelled,AMTRAK,Amtrak,left_only
9376,A111,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 05:00:07,cancelled,Amtrak,Amtrak,left_only
9377,A111,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 05:31:10,cancelled,Amtrak,Amtrak,left_only
9378,A111,2018-03-02,NaN,Newark Penn Station,107,Metropark,83,NaN,2018-03-02 05:31:10,cancelled,Amtrak,Amtrak,left_only
9379,A111,2018-03-02,NaN,Metropark,83,Princeton Junction,125,NaN,2018-03-02 05:31:10,cancelled,Amtrak,Amtrak,left_only
9380,A111,2018-03-02,NaN,Princeton Junction,125,Trenton,148,NaN,2018-03-02 05:31:10,cancelled,Amtrak,Amtrak,left_only
9546,A175,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 19:10:20,cancelled,REGIONAL,Amtrak,left_only
9547,A175,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 19:10:20,cancelled,REGIONAL,Amtrak,left_only
9548,A175,2018-03-02,NaN,Newark Penn Station,107,Newark Airport,37953,NaN,2018-03-02 19:10:20,cancelled,REGIONAL,Amtrak,left_only
9549,A175,2018-03-02,NaN,Newark Airport,37953,Metropark,83,NaN,2018-03-02 19:10:20,cancelled,REGIONAL,Amtrak,left_only
9550,A175,2018-03-02,NaN,Metropark,83,Trenton,148,NaN,2018-03-02 19:10:20,cancelled,REGIONAL,Amtrak,left_only
9551,A175,2018-03-02,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-02 19:10:20,cancelled,REGIONAL,Amtrak,left_only
9607,A188,2018-03-02,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-02 20:39:15,cancelled,REGIONAL,Amtrak,left_only
9608,A188,2018-03-02,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-02 20:39:15,cancelled,REGIONAL,Amtrak,left_only
9609,A188,2018-03-02,NaN,Trenton,148,Metropark,83,NaN,2018-03-02 20:39:15,cancelled,REGIONAL,Amtrak,left_only
9610,A188,2018-03-02,NaN,Metropark,83,Newark Penn Station,107,NaN,2018-03-02 20:39:15,cancelled,REGIONAL,Amtrak,left_only
9611,A188,2018-03-02,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-02 20:39:15,cancelled,REGIONAL,Amtrak,left_only
9675,A2165,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 15:31:12,cancelled,ACELA EXPRESS,Amtrak,left_only
9676,A2165,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 16:15:11,cancelled,ACELA EXPRESS,Amtrak,left_only
9677,A2165,2018-03-02,NaN,Newark Penn Station,107,Philadelphia,1,NaN,2018-03-02 16:15:11,cancelled,ACELA EXPRESS,Amtrak,left_only
9845,3867,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 17:21:00,2018-03-02 17:32:20,cancelled,Northeast Corrdr,NJ Transit,left_only

In [26]:
df_new[df_new["train_id"] == "A2175"]

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type
186,A2175,2018-03-02,NaN,New York Penn Station,105,New York Penn Station,105,NaN,2018-03-02 20:35:13,departed,ACELA EXPRESS,Amtrak
187,A2175,2018-03-02,NaN,New York Penn Station,105,Newark Penn Station,107,NaN,2018-03-02 21:06:10,departed,ACELA EXPRESS,Amtrak
188,A2175,2018-03-02,NaN,Newark Penn Station,107,Trenton,148,NaN,2018-03-02 21:21:14,departed,ACELA EXPRESS,Amtrak
189,A2175,2018-03-02,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-02 21:52:10,departed,ACELA EXPRESS,Amtrak

In [ ]:
newest_rows